*{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif !important;
    color: #8695a1;
    opacity: 1 !important;
  }
  .center {
      margin: auto;
      width: 35%;
      padding: 10px;
      /* background-color: rgb(4, 218, 164); */
      /* background-color: rgb(4, 180, 151); */
  
    }
  .center1 {
      margin: auto;
      width: 700px;
      padding: 10px;
      /* background-color: rgb(4, 218, 164); */
      /* background-color: rgb(4, 180, 151); */
  
    }
    .form-control:focus {
      box-shadow: none;
    }
    .btnCol{
        background-color: rgb(4, 194, 178);
        color:white;
        font-weight: bold;
       
    }
    .btnCol:focus{
        box-shadow: none;
       
    }
    .selbtnCol{
      background-color: rgb(255, 255, 255);
      color: #8695a1;
   
   
      
      
    }
  
    .selbtnCol{
      box-shadow: none;
    }
    .dnone{
      display: none;
    }
  
    input{
      height: 35px;
      
    }
  
    
  nav a:hover{
    /* color: rgb(239, 255, 241); */
    background-color: rgb(255, 255, 255);
  }
  
  .foot a{
    text-decoration: none;
    color: white;
  }
  
  .does p{
    font-size: 1.5em;
    font-weight: bold;
  }
  .does span{
    font-size: 0.5em;
    font-weight: normal;
  }
  nav{
    height: 65px;
  }